<html>
    <head>
        
    </head>
    <body>
        <h1>メモリーシェア v0.1β</h1>
        <hr />
        <p><a href="input_main">メモリー登録に進む</a></p>
        <p><a href="search">メモリー検索(仮)</a></p>
        <hr />
        <h3>何これ</h3>
        <p>自分の行った駅をID付きでシェアできます。それだけ。某ゲームの某機能用に自己満で作った。</p>
        <br />
        <h3>どう使うの</h3>
        <p>メモリー登録でID,駅名等を入力しちゃってください。</p>
        <p>検索機能は今日中にリリースします(するとは言ってない)</p>
        <br />
		<h3>間違えて登録しちゃったんだけど削除機能は</h3>
        <p>検索機能と同時につけるので間違ったらID控えててくれると助かる</p>
        <br />
		<h3>駅名のフォーマットとかあるの？</h3>
        <p>とりあえず「駅」を抜いた状態で入れてほしい</p>
        <br />
        <h3>不便なんだけど</h3>
        <p>ゆるしてほしい</p>
        <br />
        <h3>バグみつけた</h3>
        <p><a href="http://twitter.com/mystia04">@mystia04</a>に投げつけてください。スクリーンショットとかあると助かるかも</p>
        <br />
        <h3>今後つける機能</h3>
        <ul>
            <li>チェックリスト機能(Twitter連携のユーザー実装)</li>
            <li>検索機能強化(終着駅までのルートに存在するメモリーも検索できるように)</li>
            <li>UIをきれいにする/スマホ対応(気が向いたら)</li>
        </ul>
    </body>
</html>