<html>
    <head>
        
    </head>
    <body>
        <h1>検索フォーム</h1>
        <form action="/searchResult" method="post">
            <label for="startstation">開始駅:</label>
            <input type="text" name="first" id="st_station">
            <label for="finishstation">終了駅:</label>
            <input type="text" name="last" id="fi_station">
            <input type="submit" value="検索">
        </form>
    </body>
</html>